body {
    padding: 0;
    background-color: #6e727d;
    color: white;
    font-family: monospace;
}


strong {
    color: #5294e2;
}

.menu {
    background-color: #404552;
    width: fit-content;
}

.header {
    background-color: #2f343f;
    width: fit-content;
}

h1,
p {
    margin: 0;
    font-family: monospace;
}

p.h1 {
    font-weight: bold;
    font-size: 15px;
}

#file {
    font-family: system-ui, sans-serif;
    font-size: 0.95rem;
    padding: 0.4rem;
    border-radius: 6px;
    color: #0000;
}

#file::file-selector-button {
    border: none;
    background: none;
    color: #fff;
    font-family: monospace;
    cursor: pointer;
    transition: background 0.2s;
}

td {
    border: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
}

#printfooter {
    display: none;
    justify-content: center;
    align-items: center;
}

@media print {
    #vm p {
        display: none;
    }

    #printfooter {
        display: flex;
    }
}

.bar {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    background-color: #404552;
    width: 100%;
}

#barp1,
#barp2 {
    background-color: #2f343f;
}

#barp15 {
    background-color: #4d525e;
}

#barp2 {
    position: absolute;
    right: 0;
    z-index: 100;
    bottom: 0;
}
